<h1><%= @current_padder.username %>'s Pending Requests</h1>
<div>

<div>
<%= @request.dates %>
</div>
<div>
<%= @request.content %>
<main>
<%= button_to "Accept Request", "/accept/:id", method: :patch %>
<%= button_to "Decline Request", "/decline/:id", method: :patch %>
<%= button_to "Cancel Request", "/requests/:id", method: :delete %>
</main>