<!DOCTYPE html>
<html>
  <head>
    <title>AstropadApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <nav class="right">
          <span class="item">
            <% if @current_padder %>
              <%= link_to "User Dashboard", @current_padder  %>
              <%= link_to "Update Profile", edit_padder_path(@current_padder)%>
              <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
              <%= link_to "Search By Zodiac", search_path %>
            <% else %>
              <%= link_to "Signup", signup_path, class: "item" %>
              <%= link_to "Login", login_path, class: "item" %>
            <% end %>
          </span>
        </nav>
    <%= yield %>

  </body>
</html>
<link 